
node_modules/

.env
.env.*
!.env.example


dist/
dist-ssr/
build/


logs
*.log
npm-debug.log*


.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test coverage
coverage/
